<div class="row">
  <div class="col-lg-12">
    <%= breadcrumb do %>
      <%= breadcrumb_item "Estados", states_path %>
      <%= breadcrumb_item @state.full_name %>
    <% end %>

    <h1>Vereadores por Cidade no Estado do <%= "#{@state.full_name} - #{@state.name}" %></h1>
    <% if params[:indice].present? %>
      <small><%= link_to "remover filtro - Letra: #{params[:indice]}", state_path(@state)%></small>
    <% end %>

    <div class="cities-list">
      <%= alphabetical_list(@state.tse_cities, { index: params[:indice] } ) %>
      <div class="list-names">
        <% alphabetical_order(@cities) do |item| %>
          <li>
            <%= link_to item.name, city_path(item) %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
