<!DOCTYPE html>
<html>
<head>
  <title>Vereadores</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="main-page">
    <div class="container">
      <div class="header">
        <%= link_to root_path do %>
          <h3 class="text-muted">Vereadores</h3>
        <% end %>
      </div>
        <%= yield %>
    </div>
  </div>

  <footer class="navbar">
    <div class="container">
        <small>
          Os dados desta página são todos oficiais e fornecidos pela Justiça Eleitoral
          (http://www.tse.jus.br/eleicoes/estatisticas/repositorio-de-dados-eleitorais).
          <br/>
          Este site não está relacionado a nenhum órgão de governo.
          O site disponibiliza dados informativos sobre candidatos para o cargo de vereador.
          <br/>
          Este site não realiza nenhum tipo de propaganda eleitoral e pesquisa eleitoral.
          <br/>
          Qualquer dúvida entrar em contato com contato@vereadores.org
      </small>
    </div>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
